*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100% !important;
    background-color: black;
}

/****************** WATCH ****************/
.watch{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.outer_display{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_display{
    width: 235px;
    height: 235px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: white;
    font-size: 28px;
    margin: 5px;
}

/****************** CONTROLS ****************/
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.controls .algn{
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.controls .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls .main button{
    margin: 10px;
    background-color: transparent;
    border: 1px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.t{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

/****************** LAP TIME ****************/
.laps_time{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 15px;
}

.laps_time ul{
    list-style: none;
    overflow: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.laps_time ul::-webkit-scrollbar{
    display: none;
}

.laps_item{
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}

.time_stamp{
    display: inline-block;
    margin-left: 40px;
}

/****************** LAP CLEAR BUTTON ****************/
.laps_clr{
    margin-top: 40px;
    font-size: 17px;
    border: 1.5px solid white;
    border-radius: 18px;
    background-color: black;
    color: white;
    width: 110px;
    height: 38px;
    cursor: pointer;
}

.laps_clr:hover{
    background-color: white;
    color: black;
}

.hidden{
    visibility: hidden;
    /* issue */
}